RewriteEngine On

# Не перенаправлять запросы к реальным файлам и папкам
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправлять все остальное в public/
RewriteRule ^(.*)$ public/$1 [L]
