@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    &::selection {
        background: #b6b8d2;
        color: #4e5359;
    }
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}

#root {
    height: 100%;
}

.background {
    background: linear-gradient(135deg, #e0e7ff 0%, #f0f4ff 100%);
    position: fixed;
    inset: 0;
    z-index: -1;
}

.card {
    padding: 40px 60px;
    border-radius: 20px;
    background-color: #ffffff15;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

:root {
    --dark-color                : #4e5359;
    --bg-main-color             : #f3efec;
    /*--primary-color             : #f473a1;*/
    --primary-color             : #7ea46d;
    --secondary-color           : #b6b8d2;
    --secondary-light-color     : #e3d8d5;

    --font-logo                 : "Caesar Dressing", serif;
}
